header{
	position: relative;
}
.cabecera{
	display: inline-block;
}
nav{
	display: inline-block;
	position: absolute;
	right: 0;
}
li{
	display: inline-block;
	margin-left: 30px;
}
.proyecto{
	border: 1px solid black;
	border-radius: 20px;
	width: 80%;
	margin:auto;
	position: relative;
	height: 400px;
}
div{
	display: inline-block;
	width: 60%;
	position: absolute;
}
figure{
	display: inline-block;
}
article{
	margin-bottom: 10px;
}
